@mixin color-by-type ($colorMap) {
  @each $name, $color in $colorMap {
    .#{$name}--color {
      color: $color;
    }
  }
}

@mixin bg-by-type ($colorMap) {
  @each $name, $color in $colorMap {
    .#{$name}--bgColor {
      background-color: $color;
    }
  }
}

@mixin color-bar-lighten ($colorMap) {
  @each $name, $color in $colorMap {
    .bar--#{$name} {
      background-color: lighten($color: $color, $amount: 20%);
    }
  }
}