// color
$primary-color: #dc0a2d;
$secondary-color: #b8b8b8;
$font-color: (
    'dark': #1D1D1D,
    'medium': #666666,
    'light': #E0E0E0
);
$color-by-types: (
  'type': #666666,
  'normal': #aaa67f,
  'combat': #c12239,
  'poison': #a43e9e,
  'vol': #a891ec,
  'sol': #dec16b,
  'roche': #b69e31,
  'insecte': #a7b723,
  'spectre': #70559b,
  'acier': #b7b9d0,
  'feu': #f57d31,
  'eau': #6493eb,
  'plante': #74cb48,
  'électrik': #f9cf30,
  'psy': #fb5584,
  'glace': #9ad6df,
  'dragon': #7037ff,
  'ténèbres': #75574c,
  'fée': #e69eac,
  'ombre': #9f33fd, 
);

// font settings
$base-font-family: 'Poppins', sans-serif;
$base-font-size: 16px;
$title-font-size: rem(24);
$subtitle-font-size: rem(14);
$nbr-font-size: rem(12);
$type-font-size: rem(10);

// different size
$wrapper: 88%;
$progressBar-with: 233px;
$card-width: 360px;
$card-padding: 0.25em;
$bar-height: 4px;
